<div class="container">
    <div class="col-md-6 col-md-offset-3 loginBox">
        <h3>INFORMAÇÕES RESTRITAS</h3>
          <div class="form-group clearfix" >
              <div class="media">
                  <img [src]="perfil.jpg" class="figure-img img-fluid rounded" alt="Ronaldum Fenomenus">
                  <div class="media-body">
                    <h5 class="mt-0">Jogador profissional de RPG</h5>
                    <p>18 anos</p>
                    <p>Homem</p>
                    <p>Campeão mundial do mundo</p>
                    
                  </div>
                </div>
          </div>
    </div>
  </div>